h1{
  color: red;
  font-family: Calibri, sans-serif;
  font-size: 4em;
  text-align: center;
}

h2{
  color: blue;
  font-size: 2em;
  font-family: Arial, serif;
}

/* Fix the margin and width for the whole page */
 p, h1, h2, ul, footer{
  width:50%;
  margin-left: auto;
  margin-right: auto;
}

line{
  list-style-position: inside;
}

/* This class blocks images attached to be displayed. */
.notActive{
  display: none;
}

button{
  background-color: green;
  color: white;
}

 figcaption{
   display: table-caption;
   caption-side: bottom;
  font-style: italic;
  width:60%;
  margin-left: auto;
  margin-right: auto;

}



/* Done with help from StackOverflow: */
/* https://stackoverflow.com/questions/6534473/how-can-i-make-the-width-of-my-figcaption-match-the-width-of-the-img-inside*/
figure{
  text-align: center;
    display: table;
    width:10%;
    margin-left: auto;
    margin-right: auto;
}

figure img {
    display: block;
}

footer p {
  text-align: center;
  font-size: 1.2em;
  font-family: Calibri, sans-serif;
  font-style: oblique;

}
